<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.flegra.com/">Flegra Engineering</a> is a multidisciplinary group of skilled professionals that can provide elegant solutions to the most demanding and challenging software and system engineering projects.
</p>